<div class="company-details" *ngIf="company">
   
    <h2>{{ company.companyName }}</h2>
    <div class="form-group">
      <label for="companyId">Company ID:</label>
      <input id="companyId" [(ngModel)]="company.companyId" placeholder="Company ID" />
  </div>
    <div class="form-group">
        <label for="companyName">Company Name:</label>
        <input id="companyName" [(ngModel)]="company.companyName" placeholder="Company Name" />   
    </div>
    <div class="form-group">
        <label for="companyDescription">Company Description:</label>
        <input id="companyDescription" [(ngModel)]="company.companyDescription" placeholder="Company Description" />
    </div>
    <div class="form-group">
        <label for="companyPhone">Company Phone:</label>
        <input id="companyPhone" [(ngModel)]="company.companyPhone" placeholder="Company Phone" />
    </div>
    <div class="form-group">
        <label for="companyEmail">Company Email:</label>
        <input id="companyEmail" [(ngModel)]="company.companyEmail" placeholder="Company Email" />
    </div>
    <div class="form-group">
        <label for="companyWebsite">Company Website:</label>
        <input id="companyWebsite" [(ngModel)]="company.companyWebsite" placeholder="Company Website" />
    </div>
    <div class="form-group">
        <label for="companyAddress">Company Address:</label>
        <input id="companyAddress" [(ngModel)]="company.companyAddress" placeholder="Company Address" />
    </div>
    <div class="form-group">
        <label for="cardHoldersName">Card Holder's Name:</label>
        <input id="cardHoldersName" [(ngModel)]="company.cardHoldersName" placeholder="Card Holder's Name" />
    </div>
    <div class="form-group">
        <label for="cardNumber">Card Number:</label>
        <input id="cardNumber" [(ngModel)]="company.cardNumber" placeholder="Card Number" />
    </div>
    <div class="form-group">
        <label for="expDate">Expiration Date:</label>
        <input id="expDate" [(ngModel)]="company.expDate" placeholder="Expiration Date" />
    </div>
    <div class="form-group">
        <label for="securityCode">Security Code:</label>
        <input id="securityCode" [(ngModel)]="company.securityCode" placeholder="Security Code" />
    </div>
    <div class="form-group">
        <label for="billingAddress">Billing Address:</label>
        <input id="billingAddress" [(ngModel)]="company.billingAddress" placeholder="Billing Address" />
    </div>
    <div class="button-group">
        <button (click)="createCompany(company)">Save</button> 
        <button (click)="gotoLogin()">Next</button>   
    </div>       
  </div>
<router-outlet></router-outlet>
